<div>
    <nav class="navbar">
        
        <img src="../assets/img/logo1.jpg" alt="logo" class="navbar-logo" />
        <div class="menu">
            <a href="http://localhost:3000/#intro" class="menuListItem">Home</a>
            <a href="http://localhost:3000/#aboutt" class="menuListItem">About</a>
            <a href="http://localhost:3000/#eduu" class="menuListItem">Education</a>
            <a href="#goal" class="menuListItem">Goals</a>
            <a href="#skill" class="menuListItem">Skill</a>
        </div>
    </nav>
  </div>
