
<div id="goal">
<div class="boddy">Goals</div>
<hr class="line11">


<div class="goal-container">
    
    <div class="goal-card">
        <h2 class="goal-title">Short-Term Goal</h2>
        <ul class="goal-list">
            <li>Complete my master’s degree with high grades, ensuring a solid academic foundation.</li>
            <li>Develop impactful projects that address real-world problems and demonstrate practical skills.</li>
            <li>Achieve expertise in a programming language, aiming for depth of knowledge and proficiency in writing optimized, clean code.</li>
            <li>Secure an internship at Google to gain hands-on industry experience and work with top professionals.</li>
            <li>Complete an online course that enhances my skill set and broadens my knowledge base in key areas.</li>
        </ul>
    </div>
    
    
    
    <div class="goal-card">
        <h2 class="goal-title">Long-Term Goal</h2>
        <ul class="goal-list">
            <li>Secure a teaching job to share knowledge, inspire students, and contribute to educational growth.</li>
            <li>Achieve financial success for stability, enabling freedom in career and personal pursuits.</li>
            <li>Maintain good health through consistent physical activity, balanced nutrition, and self-care.</li>
            <li>Travel to different countries to broaden cultural understanding, experience diverse lifestyles, and find inspiration.</li>
            <li>Engage in charity work to give back to the community, help those in need, and make a meaningful impact.</li>
        </ul>
    </div>
</div>
</div>
