.line1 hr{

    margin-top: -20px;
    margin-right: 830px;
}
.line2 hr{
    margin-top:-10px;
    margin-left: 830px;
}   
.sskill {
    font-size: 40px;
    margin-top: 150px;
    color: darkorchid;
    text-align-last:center;
}

