<div id="skill">
    <div class="sskill">My Skills</div>
    <div class="line1"><hr></div>
    <div class="line2"><hr></div>

    <div class="boddy">

        
        <div class="skill">
        <div class="outer">
        <div class="circle">
        <svg>
        <circle class="html-bar" cx="80" cy="80" r="70"></circle>
        </svg>
        </div>
        <div class="inner">
        <div class="number">75%</div>
        </div>
        </div>
        <p>HTML</p>
        </div>

        
        <div class="skill">
        <div class="outer">
         <div class="circle">
         <svg>
         <circle class="css-bar" cx="80" cy="80" r="70"></circle>
        </svg>
         </div>
        <div class="inner">
         <div class="number">65%</div>
        </div>
        </div>
        <p>CSS</p>
        </div>


        <div class="skill">
            <div class="outer">
             <div class="circle">
             <svg>
             <circle class="py-bar" cx="80" cy="80" r="70"></circle>
            </svg>
             </div>
            <div class="inner">
             <div class="number">70%</div>
            </div>
            </div>
            <p>Python</p>
            </div>

        
        <div class="skill">
        <div class="outer">
        <div class="circle">
         <svg>
         <circle class="js-bar" cx="80" cy="80" r="70"></circle>
        </svg>
        </div>
        <div class="inner">
        <div class="number">55%</div>
        </div>
        </div>
        <p>JavaScript</p>
        </div>

    </div>
</div>
